.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    margin: 0 5px;
    font-weight: bold;
    color: #ffffff;
    background-color: #1e40af;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
}

.canvas-message {
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
    color: #000;
}

canvas {
    border: 1px solid #000;
}

.modal-box {
    background-color: #ffffff;
}

.modal-action .error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
    border-radius: 4px;
    padding: 2px;
}

input[type="date"]::-moz-focus-inner {
    border: 0;
}

input[type="date"]::-ms-clear {
    display: none;
}

input[type="date"]::-ms-expand {
    filter: invert(0.8);
    border-radius: 4px;
    padding: 2px;
}

/* Para campos de hora */
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
    border-radius: 4px;
    padding: 2px;
}

input[type="time"]::-moz-focus-inner {
    border: 0;
}

input[type="time"]::-ms-clear {
    display: none;
}

input[type="time"]::-ms-expand {
    filter: invert(0.8);
    border-radius: 4px;
    padding: 2px;
}
