.google-input {
    width: 100%;
    padding: 8px;
   
    display: block;
    font-size: 16px;
    border: 1px solid #00B8F2;
    color: #000000;
    background-color: #ffffff;
    border-radius: 5px;
    outline: none;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.dt-button > span{
    background-color: inherit;
}